* {
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("backgrounds/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main img{  
    position: absolute;
    text-align: center;
    font-size: 50px;
    left: 22vh;
    color: white;
    padding: 5px;
    
}

.main p{
    position: relative;
    text-align: center;
    top: 15px;
    font-size: 50px;
    color: white;
    padding: 1px 15px 1px 15px;
}

.main a{
    text-decoration: none;
}

.continue a{
    position: relative;
    top: 750px;
    float: right;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 1px 30px 1px 1px;
}