* {
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("backgrounds/Background (16).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.main p{  
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 1px 15px 1px 15px;
    
}

.main a{
    text-decoration: none;
}

.banner p{
    text-transform: uppercase;
    position: relative;
    top: 250px;
    text-align: center;
    font-size: 50px;
    color: black;
}

.continue a{
    position: relative;
    top: 450px;
    float: right;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 1px 30px 1px 1px;
}