* {
    margin: 0;
    padding: 0;
}

.main{
    background-image: url("backgrounds/Background (10).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: 400;
}

.title h2{
    position: relative;
    top: 50px;
    float: right;
    right: 2%;
    text-align: center;
    font-size: 48px;
    color: white;
    padding: 1px 15px 1px 15px;
}

.body p{
    position: relative;
    top: 125px;
    float: right;
    left: 35%;
    text-align: center;
    font-size: 36px;
    color: white;
}

.main a{
    text-decoration: none;
}

.continue a{
    position: relative;
    float: right;
    top: 500px;
    left: 63%;
    text-align: center;
    font-size: 48px;
    color: white;
}